{{> menu active="dashboard"}}
<section class="box is-3 has-text-centered">
  <h3 class="title">
    Playlist Dashboard
  </h3>
  <div class="section">
    <p>
      This page is where you can add and view your current playlist catalog
    </p>
  </div>
</section>
<section class="section">
  {{> list-playlists}}
  {{> add-playlist}}
</section>